/*-------------- lien sass --------------*/
/*variables*/
@import "variables"

/*---------------- style -------------*/
// Header
header
    padding: 40px 0

nav    
    margin-bottom: 20px
        
    a 
        padding-left: 30px
        letter-spacing: 2px
    
    #navbarNavAltMarkup
            
        .mynavbar

            .nav-item
                font-size: 10px
                padding: 3px 14px
                  
            .btn
                margin: 0 3px 

            #btn_white
                height: 15px
                border: $borderButton 1px solid
                margin-top: 3px
                

            #btn_black
                height: 15px
                border: $borderButton 1px solid
                margin-top: 3px

            #btn_connexion
                height: 28px
                
                    
                


