/*-------------- lien sass --------------*/
/*variables*/
@import "variables"

/*---------------- style -------------*/
// Header
header
    padding: 40px 0
    #text 
        padding-left: 30px
        letter-spacing: 2px
        color: #000
        font-size: 40px
        font-weight: bold
         
nav    
    margin-bottom: 20px
    background: $white
        

    
            
    .mynavbar

        .nav-item
            font-size: 10px
            padding: 3px 14px
            a 
                padding-left: 30px
                letter-spacing: 2px
            a:hover
                font-weight: bold
                transition: 0.5s
                  
        .btn
            margin: 0 5px 
        .btn:hover
            box-shadow: 0 0 8px $borderButton
            transition: 0.3s

        #btn_white
            height: 15px
            border: $borderButton 1px solid
              

        #btn_black
            height: 15px
            border: $borderButton 1px solid
            

        #btn_connexion
            height: 28px
                
                    
// formulaire
#register
    display: none
.form

    .modal
        display: none
        position: fixed
        z-index: 1
        background: $grey
        height: 100%
        overflow: auto
        padding-top: 50px
        padding: 5%
        
    
        .modal-content
            border: solid 2px #000
        
            

            .text
                width: 100%
                padding: 15px
                margin: 5px 0 22px 0
                display: inline-block
                border: none
                background: $light
            .text:hover
                box-shadow: 0 0 5px rgb(44, 41, 41)
                transition: 0.3s
            .text:focus
                outline: none
                background: #c9c9c9   
            .button
                background: #08c7b7
                color: $white
                padding: 14px 20px
                margin: 8px
                border: none
                width: 47%
            .button:hover
                box-shadow: 0 0 9px rgb(44, 41, 41)
                transition: 0.3s
            .mybtnform
                border-bottom: 1px solid $grey!important
                margin-bottom: 4px
            


    
    
.close
    font-size: 30px
    font-weight: bold
    color: $red
.close:hover
    text-shadow: 0 0 5px rgba(184, 180, 180, 0.795)
    transition: 0.3s
    cursor: pointer
.clearfix::after
    content: ""
    clear: both
    display: table

    
@media screen and (max-width: 300px) 
  .cancelbtn, .signupbtn 
     width: 100%

    
  


