/*-------------- lien sass --------------*/
/*variables*/
@import "variables"

/*---------------- style -------------*/
// Header
#header
    background: #B000B5
    #logo
        background: #fb1
        padding: 40px 0
    #miniature
        display: none
    #navbar_item
        font-size: 10px
        li
            padding: 0 10px
            .btn
                margin: 0 2px
            #btn_white
                height: 15px
                border: $borderButton 1px solid
            #btn_black
                height: 15px
                border: $borderButton 1px solid


    
