/*-------------- section 3 et section 4 --------------*/
/*-------------- lien sass --------------*/
/*variables*/
@import "variables"

/*---------------- style -------------*/    
// section 3
#all-products
    padding-top: 10vh
    text-align: center
    h3
        text-align: center
        padding-bottom: 20px
    img
        height: 30vh
        width: 350px
        padding-bottom: 20px

// section 4
#section4
    background: url(../../public/img/cta-bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    height: 70vh
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    h4
        
    a
        
    .a:hover 
        box-shadow:  0 0 4px rgb(175, 174, 174)
        transition: 0.3s
