/*-------------- lien sass --------------*/
/*Header*/
@import "header"

/* section 1 et 2 */ 
@import "sectionA"

/* section 3 et 4 */ 
@import "sectionB"

/* section 5 et 6 */ 
@import "sectionC"

/*footer*/
@import "footer"

/*variables*/
@import "variables"

/*fonts*/
@import "fonts"

/** bootstrap **/


/*---------------- style -------------*/
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    background: $white
    min-height: 200vh